/* TYPOGRAPHY */
/* Google Fonts */
/* VARIABLES */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
@media all and (max-width: 40rem) {
  header {
    position: initial;
    background: var(--bs-primary);
  }
}

#navbar-top {
  padding-top: 1rem;
  max-width: 1920px;
  margin: auto;
}

.user-logged-in header {
  top: 79px;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.main-content {
  padding: 0;
}

.node__content {
  margin-top: 0;
}

.user-logged-in nav.tabs {
  max-width: 50%;
  margin: auto;
}
.user-logged-in nav.tabs ul.nav-tabs {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05625rem;
}

.site-footer__bottom .region-footer-fifth {
  max-width: 1920px;
  margin: auto;
}

.banner {
  min-height: 80vh;
  max-height: 900px;
  background-color: #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4rem;
  max-width: 1920px;
  margin: auto;
}
.banner.left_align {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
.banner.right_align {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}
.banner.center_align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.banner h1 {
  font-weight: 600;
}

.list-component {
  padding: 3.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  max-width: 1920px;
  margin: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ccc;
}
.list-component .listed-components {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-component .listed-components > .item {
  text-align: center;
}
.list-component .listed-components > .item:hover .thumbnail {
  overflow: hidden;
  -webkit-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
.list-component .listed-components .thumbnail {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 40rem) {
  .list-component .listed-components {
    width: 100%;
  }
}
.list-component .subtitle {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.list-component .subtitle:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 8px;
  background: #fff;
  bottom: 0;
  left: calc(50% - 40px);
}
.list-component h2, .list-component h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.list-component h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.list-component h3 {
  margin-bottom: 1rem;
}
@media (min-width: 35rem) {
  .list-component .blazy--field {
    max-width: 250px;
  }
}

@media (min-width: 35rem) {
  .node .field--type-image {
    float: none;
    margin: 0;
  }
}

.thumbnail {
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.thumbnail:hover {
  -webkit-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.qoute_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
}
.qoute_wrapper.fullscreen {
  max-width: 1920px;
  margin: auto;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
}
.qoute_wrapper.fullscreen .qoute-container {
  width: 100%;
}
.qoute_wrapper.fullscreen .blazy--field-qoute-image {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.qoute_wrapper.fullscreen .blazy--field-qoute-image .media--blazy {
  padding-bottom: 0 !important;
  position: relative;
  width: 100%;
  height: 100%;
}
.qoute_wrapper.fullscreen .qoute_description {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-bottom: 4rem;
  padding: 2rem;
  color: #fff;
  mix-blend-mode: hard-light;
}
.qoute_wrapper.side_by_side {
  max-height: 50vh;
  min-height: 0;
}
@media all and (max-width: 40rem) {
  .qoute_wrapper.side_by_side {
    max-height: unset;
  }
}
.qoute_wrapper.side_by_side .qoute-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.qoute_wrapper.side_by_side .qoute-container > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.qoute_wrapper.side_by_side .qoute_description {
  padding: 4rem;
  color: #fff;
}
@media all and (max-width: 62.5rem) {
  .qoute_wrapper.side_by_side .qoute_description {
    padding: 2rem;
  }
}
.qoute_wrapper.side_by_side .blazy--field-qoute-image .media--blazy {
  padding-bottom: 0 !important;
  position: relative;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 40rem) {
  .qoute_wrapper.side_by_side .blazy--field-qoute-image .media--blazy {
    padding-bottom: 75% !important;
  }
}

.qoute_description.orange {
  position: relative;
}
.qoute_description.orange:after {
  content: "";
  background: rgba(255, 98, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

blockquote {
  font-size: 1.5rem;
  background-image: url(../images/qoute.svg);
  background-repeat: no-repeat;
  padding-left: 2.625rem !important;
}

.sixty_forty, .equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sixty_forty .content-left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 40%;
      -ms-flex: 0 40%;
          flex: 0 40%;
  padding-right: 2rem;
}
.sixty_forty .content-right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 60%;
      -ms-flex: 0 60%;
          flex: 0 60%;
  padding-left: 2rem;
}

.equal .content-left, .equal .content-right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
      -ms-flex: 0 50%;
          flex: 0 50%;
}
.equal .content-left {
  padding-right: 2rem;
}
.equal .content-right {
  padding-left: 2rem;
}

.complex {
  max-height: 900px;
  height: 80vh;
  padding: 4rem;
  max-width: 1920px;
  margin: auto;
}
.complex .content-right {
  overflow: hidden;
}

.content-right .at-title {
  display: none;
}
.content-right .at-inner {
  max-width: 760px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.73);
  padding: 3.125rem 3.125rem 1.875rem;
  float: right;
  border-top: 5px solid #ff6200;
  border-bottom: 5px solid #ff6200;
  width: 100%;
}
@media all and (max-width: 61.9375rem) {
  .content-right .at-inner {
    max-width: 100%;
    margin-top: 2rem;
  }
}
.content-right .at fieldset legend {
  color: #0035a0;
  padding: 0;
}
.content-right .at label {
  color: #0035a0;
}
.content-right .at form .label-amount {
  width: 22%;
  height: auto;
  margin-right: 4%;
  float: left;
  color: #fff;
  font-size: 1.5rem;
  background-image: none;
  padding: 0.5rem;
  margin-bottom: 0.9375rem;
  letter-spacing: -0.03em;
  line-height: 1.428571429;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(38, 116, 52, 0.1);
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  color: #0035a0;
}
.content-right .at form .label-amount input[type=radio]:checked + a, .content-right .at form .label-amount:hover > a {
  background-color: #ffede1;
  border-color: #0035a0;
}
.content-right .at form .label-amount > a {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  left: 0;
  display: block;
  background-color: transparent;
  border-radius: 4px;
  z-index: -1;
  border: 2px solid #0035a0;
}
.content-right .at input[type=checkbox] + span::before {
  border: 1px solid #0035a0;
}
.content-right .at input[type=checkbox]:checked + span:before {
  background-color: #228ae6;
  border-color: #228ae6;
}
.content-right .at input[type=checkbox]:hover + span:before {
  border-color: #1c7cd6;
}
.content-right .at .btn-at-primary {
  font-size: 1.2rem;
  letter-spacing: 0.125rem;
  border-radius: 0;
}
.content-right .at-fields {
  position: relative;
}
/*# sourceMappingURL=maps/mods.css.map */
